beautifulsoup4==4.8.1
blessings==1.7
bpython==0.18
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
curtsies==0.3.0
docutils==0.15.2
greenlet==0.4.15
idna==2.8
parse==1.14.0
Pygments==2.4.2
PySocks==1.7.1
pyTelegramBotAPI==3.6.7
python-dateutil==2.8.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
telegram==0.0.1
typing==3.7.4.1
urllib3==1.25.6
virtualenv==16.7.5
wcwidth==0.1.7
